<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<body style="width:100% ;background-image: url('https://images.askmen.com/1080x540/2019/04/19-093931-tricks_to_improve_workout_motivation.jpg');
background-repeat: no-repeat;background-size: cover;min-height: 100%;width: 1300px; background-position: center;position:absolute">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="viewall">View All</a></li>
        <li><a routerLink="create/workout">Create</a></li>
        <li><a routerLink="create/category">Category</a></li>
        <li><a routerLink="track">Track</a></li>
        <li style="position: absolute; left: 35%;top:5px; text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;"><b style="color: white;font-size: 30px">Workout Tracker</b></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>